In [2]:
import pandas as pd
import numpy as np
import urllib.parse as parse

In [2]:
# log = pd.read_csv('dataset/EClog HTTP_level e_commerce data based on server access logs for an online store/eclog_1day.csv',header=0,index_col=None)
# log = pd.read_csv('dataset/EClog HTTP_level e_commerce data based on server access logs for an online store/eclog.csv',header=0,index_col=None)

# log = log.loc[:,"Uri"]

In [3]:
# data = []
# for i in log:
#     data.append(parse.urlsplit(i))

In [4]:
# print(data[0:10])

[SplitResult(scheme='', netloc='', path='/p-9710.html', query='', fragment=''), SplitResult(scheme='', netloc='', path='/szablony/shop_11.rwd/css/style.php', query='ncss=style,boxy,moduly,produkt', fragment=''), SplitResult(scheme='', netloc='', path='/javascript/skrypty.php', query='', fragment=''), SplitResult(scheme='', netloc='', path='/javascript/produkt.php', query='', fragment=''), SplitResult(scheme='', netloc='', path='/szablony/shop_11.rwd/obrazki/szablon/info.png', query='', fragment=''), SplitResult(scheme='', netloc='', path='/szablony/shop_11.rwd/obrazki/ikony/gwiazdka.png', query='', fragment=''), SplitResult(scheme='', netloc='', path='/images/mini/250px_image1.jpg', query='', fragment=''), SplitResult(scheme='', netloc='', path='/inne/informacja_online.php', query='', fragment=''), SplitResult(scheme='', netloc='', path='/inne/informacja_online.php', query='', fragment=''), SplitResult(scheme='', netloc='', path='/images/mini/70px_image2.jpg', query='', fragment='')]

In [5]:
# frame = pd.DataFrame(data)

In [5]:
log = pd.read_csv('dataset/url_parser.csv',index_col=0)

In [8]:
log

,scheme,netloc,path,query,fragment
0,NaN,NaN,/p-9710.html,NaN,NaN
1,NaN,NaN,/szablony/shop_11.rwd/css/style.php,"ncss=style,boxy,moduly,produkt",NaN
2,NaN,NaN,/javascript/skrypty.php,NaN,NaN
3,NaN,NaN,/javascript/produkt.php,NaN,NaN
4,NaN,NaN,/szablony/shop_11.rwd/obrazki/szablon/info.png,NaN,NaN
...,...,...,...,...,...
35157686,NaN,NaN,/inne/informacja_online.php,NaN,NaN
35157687,NaN,NaN,/wyszukiwanie-query6283.html,NaN,NaN
35157688,NaN,NaN,/images/image11466.jpg,NaN,NaN
35157689,NaN,NaN,/images/mini/250px_image9012.jpg,NaN,NaN
35157690,NaN,NaN,/inne/informacja_online.php,NaN,NaN

In [7]:
for col in frame:
    print(col," : ",frame[col].unique().shape)

scheme  :  (3,)
netloc  :  (41,)
path  :  (206951,)
query  :  (397438,)
fragment  :  (4,)

In [8]:
for col in frame:
    print(col," : ",frame[col].unique())

scheme  :  ['' 'http' 'https']
netloc  :  ['' 'ipaddress3' 'wp-includes' 'xmlrpc.php' 'blog' 'web' 'wordpress'
 'website' 'wp' 'news' '2018' '2019' 'shop' 'wp1' 'test' 'media' 'wp2'
 'site' 'cms' 'sito' 'phpThumb.php' 'util' 'admin' 'a2billing'
 'ipaddress8' '.env' 'ipaddress10' 'language' 'vtigercrm' '2020' 'old'
 'wp-login.php' 'ipaddress30' 'fxcity.co.kr' 'wp-admin'
 'zamowienie-podsumowanie.html' 'inne' 'javascript' 'page5' 'page30'
 'index.php']
path  :  ['/p-9710.html' '/szablony/shop_11.rwd/css/style.php'
 '/javascript/skrypty.php' ...
 '/szukaj.html/szukaj=query12922/fraza=tak/opis=tak/sopis=nie/nrkat=tak'
 '/szukaj.html/szukaj=query10809/fraza=tak/opis=tak/nrkat=tak/sopis=nie/s=5'
 '/szukaj.html/szukaj=query17584/fraza=tak/opis=tak/nrkat=tak/sopis=nie']
query  :  ['' 'ncss=style,boxy,moduly,produkt'
 'gclid=EAIaIQobChMIlPOcx4ST5gIViOd3Ch37IwyYEAQYAiABEgKfLfD_BwE' ...
 'tok=5hygx2nlt0ych1ln' 'tok=rhfg82gli0dc41' 'tok=kgycnp6v4rhk2j5h1g32']
fragment  :  [''
 'D\\x98+\\xCA\\xF0\\xA7\\xBBl\\xC5\\x19\\xD7\\x8D\\xB6\\x18\\xEDJ\\x1En\\xC1\\xF9xu[l\\xF0E\\x1D-j\\xEC\\xD4xL\\xC9r\\xC9\\x15\\x10u\\xE0%\\x86Rtg\\x05fv\\x86]%\\xCC\\x80\\x0C\\xE8\\xCF\\xAE\\x00\\xB5\\xC0f\\xC8\\x8DD\\xC5\\x09\\xF4'
 '5h[\\xE4\\xC5\\x16\\xF7wBr=\\xB1'
 '\\xB08DB\\xF0\\xD1\\x98\\x1E\\x01\\xE4\\xE0\\xDC\\xA4=\\xB1']

In [9]:
# frame.to_csv("dataset/url_parser.csv")

In [11]:
log[(log['netloc']=='admin')]

,scheme,netloc,path,query,fragment
2931837,NaN,admin,/config.php,password%5B0%5D=ZIZO&username=admin,NaN
2936236,NaN,admin,/config.php,password%5B0%5D=ZIZO&username=admin,NaN
3873340,NaN,admin,/config.php,password%5B0%5D=bebydviyx&username=admin,NaN
3874732,NaN,admin,/config.php,password%5B0%5D=bebydviyx&username=admin,NaN
3886083,NaN,admin,/config.php,password%5B0%5D=bebydviyx&username=admin,NaN
5641022,NaN,admin,/config.php,password%5B0%5D=bebydviyx&username=admin,NaN
5641745,NaN,admin,/config.php,password%5B0%5D=bebydviyx&username=admin,NaN
6015042,NaN,admin,/config.php,password%5B0%5D=ZIZO&username=admin,NaN
6015059,NaN,admin,/config.php,password%5B0%5D=ZIZO&username=admin,NaN

In [12]:
log[(log['netloc']=='inne')]

         scheme netloc                    path query fragment
29540332    NaN   inne  /informacja_online.php   NaN      NaN

In [16]:
origin = pd.read_csv('C:\Workspace\kukmin_lab\log detection\dataset\EClog HTTP_level e_commerce data based on server access logs for an online store\eclog.csv',index_col=0)

In [32]:
origin.where()

UserId                                                          -
TimeStamp                                      637128354270000000
HttpMethod                                                    GET
Uri             //admin/config.php?password%5B0%5D=ZIZO&userna...
HttpVersion                                              HTTP/1.1
ResponseCode                                                  404
Bytes                                                         197
Referrer                                                        -
UserAgent       python-requests/2.6.0 CPython/2.7.5 Linux/3.10...
Name: 65575US, dtype: object